.profile-home-container {
  position: relative;
}
.update-profile-component {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0 200px;
  background-color: aliceblue;
  min-height: 100%;
}
.cover {
  position: relative;
}
.profile-photo-container {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 3px solid gray;
  position: absolute;
  margin: 10px;
  background-color: black;
  top: 0;
}
.user-profile-photo {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  background-color: black;
  top: 0;
}
.company-logo {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 150px;
  left: 150px;
}
