.employee-profile-photo {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: black;
  top: 0;
}
.profile-part-container {
  display: grid;
  grid-template-columns: 30% 70%;
}
@media only screen and (max-width: 666px) {
  .profile-part-container {
    display: block;
  }
}
